@import "../../app/styles/globals";

@include firstChild;

.header {
  width: 93.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;

  &__services {
    font-size: 1.6rem;

    @media screen and (width< 79em) {
      font-size: 2rem;
    }

    @include nav-services;

    @include nav-services--dropdown;
  }

  @media screen and (width<=71.875em) {
    display: none;
  }
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  color: inherit;
  align-self: flex-start;

  @media screen and (width< 79em) {
    align-self: center;
  }

  @media screen and (width< 48.43em) {
    display: none;
  }
}
