@import "../../app/styles/globals";

@include firstChild;

.header {
  width: 93.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem auto;
  margin-top: 1.5rem;

  &__services {
    font-size: 1.6rem;
    font-weight: 600;

    @media screen and (width< 79em) {
      font-size: 2rem;
    }

    @include nav-services;

    @include nav-services--dropdown;
  }

  @media screen and (width<=71.875em) {
    display: none;
  }
}

.logo {
  font-size: 3.5rem;
  font-weight: 800;
  color: inherit;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  font-family: "Big Shoulders Text", cursive;
  letter-spacing: 1.5px;

  p {
    font-size: 3.1rem;
    font-weight: 800;
    position: relative;
    transform: translateY(-2px);

    @media screen and (width< 61.125em) {
      transform: translateY(-1px);
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 12%;
      background-color: $black;
      height: 3.5px;
      width: 80%;
      @media screen and (width< 61.125em) {
        bottom: 10%;
      }
      @media screen and (width< 25.125em) {
        height: 2.5px;
      }
      @media screen and (width< 20.125em) {
        height: 2px;
      }
    }
  }

  @media screen and (width< 71.875em) {
    align-self: center;
    margin-left: 8rem;
  }
}
