.circle-icon-btn {
  width: 50%;
  color: $gray-light-1;
  background-color: $black;
  border-radius: 555555555555px;
  padding: 0.5rem 0 0.5rem 2rem;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:disabled {
    opacity: 0.35;
  }

  p {
    margin: 0 auto;
  }
  .arrow-in-circle {
    background-color: $gray-light-1;
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;

    svg {
      fill: black;
    }
  }

  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(2px);
  }
}
