.line {
  font-size: 1.8rem !important;
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    inset: 0;
    margin: auto;
    background-color: $black;
    width: 4rem;
    height: 1.3px;
  }
}

.link-underline {
  font-weight: 700;
  position: relative;
  color: $gray-dark-3;
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 2px;
    margin: auto;
    background-color: $black;
    width: 100%;
    height: 0.5px;
  }
}

.before-color-red {
  &::before {
    background-color: $red-1 !important;
  }
}

.u-margin-left-micro {
  margin-left: 0.7rem;
}

.u-margin-top-micro {
  margin-top: 0.5rem;
}

.u-translate-y-small {
  transform: translateY(-20%);
}

.flex {
  display: flex;
  align-items: center;
}

.hover-blue {
  border-bottom: 1px solid transparent;
  padding-bottom: 0.2rem;
  &:hover {
    color: blue;
    border-bottom: 1px solid blue;
  }
}

.reset-width {
  &::before {
    width: 140% !important;
  }
}

.input-error {
  transition: 0.2s all linear;
  background-color: $red-3 !important;
  color: white !important;
  opacity: 0.7;

  svg {
    fill: white !important;
  }
  input {
    &::placeholder {
      color: white !important;
    }
  }
}

.error-message {
  height: 5rem;
  padding: 0 2rem;
  width: max-content;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: $red-3;
  border-radius: 20px;
  display: grid;
  place-items: center;
  position: relative;
  margin-top: 2rem !important;

  span {
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    border-top: 2rem solid $red-3;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
  }
}

.utils-display-none {
  display: none;
}

.utils-show-error-server,
.utils-show-success-server {
  transform: scaleX(1) !important;
  pointer-events: all !important;
  position: static !important;
  z-index: 1 !important;
  width: 100%;
  max-width: 35rem;
  margin-left: auto;
  transition: 0.2s ease-in-out;
}

.utils-show-success-server {
  background-color: $green-1;

  .joinus__message--server-close {
    border: solid 2px $green-1 !important;
    fill: $green-1 !important;
  }
}

.utils-show-error-server {
  background-color: $red-3;

  .joinus__message--server-close {
    border: solid 2px $red-3 !important;
    fill: $red-3 !important;
  }
}

.utils-server-success-message,
.utils-server-error-message {
  padding: 1.7rem 2.4rem;
  width: max-content;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 12px;
  display: grid;
  place-items: center;
  position: relative;
  margin-top: 2rem !important;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  animation: loading-message 0.25s ease-in-out;
  animation-fill-mode: forwards;

  svg {
    width: 2.3rem;
    height: 2.3rem;
    fill: white !important;
    stroke: white;
    scale: 0;
    transform: rotate(-1400deg);
    animation: loading-icon 0.25s linear 0.2s;
    animation-fill-mode: forwards;
  }
}

.utils-server-success-message {
  background-color: $green-1;
}

.utils-server-error-message {
  background-color: $red-3;
}

@keyframes loading-icon {
  to {
    scale: 1;
    transform: rotate(0deg);
  }
}

@keyframes loading-icon {
  to {
    scale: 1;
    transform: rotate(0deg);
  }
}

@keyframes loading-message {
  to {
    transform: scaleX(1);
  }
}
