.line {
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    inset: 0;
    margin: auto;
    background-color: $black;
    width: 4rem;
    height: 1.3px;
  }
}

.u-margin-left-micro {
  margin-left: 0.7rem;
}

.u-margin-top-micro {
  margin-top: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-grey {
  &:hover {
    color: $black;
  }
}

.input-error {
  transition: 0.2s all linear;
  margin-top: 5rem !important;
  background-color: $red-1 !important;

  svg {
    fill: white !important;
  }

  span {
    &::before {
      background-color: white !important;
    }
  }

  input {
    &::placeholder {
      color: white !important;
    }
  }
}

.reset-width {
  &::before {
    width: 0 !important;
  }
}
