.line {
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    inset: 0;
    margin: auto;
    background-color: $black;
    width: 4rem;
    height: 1.3px;
  }
}

.before-color-red {
  &::before {
    background-color: $red-1 !important;
  }
}

.u-margin-left-micro {
  margin-left: 0.7rem;
}

.u-margin-top-micro {
  margin-top: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-grey {
  &:hover {
    color: $black;
  }
}

.reset-width {
  &::before {
    width: 0 !important;
  }
}

.input-error {
  transition: 0.2s all linear;
  border: 2px solid $red-1;

  svg {
    fill: $red-1 !important;
  }
}

.error-message {
  height: 5rem;
  padding: 0 2rem;
  width: max-content;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: $red-2;
  border-radius: 20px;
  display: grid;
  place-items: center;
  position: relative;
  margin-top: 2rem !important;

  span {
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    border-top: 2rem solid $red-2;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
  }
}
