$color-primary: #fafafa;
$color-secondary: #0a0a0a;

$gray-light-1: #f5f5f5;
$gray-light-2: #d4d4d4;
$gray-light-3: #e4e4e7;

$white: rgb(255, 255, 253);

$black: #0a0a0a;
$black-light: #171717;

$gray-dark-1: #a3a3a3;
$gray-dark-2: #737373;
$gray-dark-3: #404040;
$brown-light-1: #57534e;

$red-1: #ea1f1f;
$red-2: #b91c1c;
$red-3: #ff3333;

$green-1: #4ade80;

:root {
  --custom-black: #0a0a0a;
  --custom-gray: #a3a3a3;
  --custom-black-c: #0a0a0a;
  --custom-gray-c: #a3a3a3;
  --custom-width: 140%;
}

$shadow-1: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
