@import "../../../../app/styles/globals";

.menu {
  position: fixed;
  background-color: $gray-light-1;
  border-radius: 7px;
  z-index: 9999;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid $gray-light-2;
    height: 4.7rem;
    width: 5rem;
    position: relative;
    z-index: 400;
    box-shadow: 0 0.5rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  &__icon {
    display: inline-block;
    width: 3rem;
    height: 0.2rem;
    background-color: black;
    display: flex;
    align-items: center;

    &::after,
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 3rem;
      height: 0.2rem;
      background-color: black;
      transition: 0.2s ease-in-out;
    }

    &::after {
      transform: translateY(0.9rem);
    }

    &::before {
      transform: translateY(-0.9rem);
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -9999999;
    transform: translate(1.5rem, 1.5rem);
    visibility: hidden;

    &:checked + .menu__btn .menu__icon::before {
      transform: rotate(135deg);
    }
    &:checked + .menu__btn .menu__icon {
      background-color: transparent;
    }
    &:checked + .menu__btn .menu__icon::after {
      transform: rotate(-135deg);
    }
    &:checked + .menu__btn {
      border: none;
      box-shadow: none;
    }
    &:checked ~ .menu__list {
      left: 0rem;
    }
  }

  &__list {
    list-style: none;
    position: fixed;
    top: 0;
    left: -200rem;
    width: 50%;
    height: 100%;
    background-color: $gray-light-1;
    border: 2px solid $gray-light-2;
    display: grid;
    grid-template-rows: 12rem repeat(6, min-content);
    grid-row-gap: 1rem;
    transition: all 0.4s ease-in-out;
    z-index: 5;

    @media screen and (width< 33.125em) {
      width: 65%;
    }

    .menu__item {
      padding: 1rem 2.8rem 1.5rem;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      //z-index: 3;

      &:first-child {
        margin-top: 1.5rem;
      }

      &:first-child::before {
        @include menuBeforeEffect;
      }

      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          grid-row: #{$i + 1}/ span 1;
        }
      }

      &:not(:first-child)::before {
        @include menuBeforeEffect;
      }

      &:hover::before {
        transform: scaleY(1);
        width: 100%;
      }

      &:active::before {
        border: solid 2px $gray-light-2;
        border-right: none;
      }
      &:hover ~ &:last-child::before {
        transform: scaleY(0);
        width: 0;
      }

      a,
      button {
        position: relative;
        //   z-index: 4;

        &:hover {
          color: $brown-light-1;
        }
      }
    }
  }

  &__shop {
    padding-right: 3rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;

    &:focus + .menu__shop--list {
      transform: scaleY(1) !important;
      height: auto;
      position: relative;
      transition-delay: 0s;
    }

    &:focus {
      width: 80%;
    }

    &--list {
      font-size: 1.5rem;
      margin-left: 6rem;
      list-style: circle;
      padding-left: 1.5rem;
      position: absolute;
      transform: scaleY(0);
      height: 0;
      transition: all 0.1s;

      &:hover {
        transform: scaleY(1) !important;
        height: auto;
        position: relative;
        transition-delay: 0s;
      }
    }
    &--item {
      font-size: inherit;
      position: relative;
      z-index: 0;
      transition: all 0.1s;
      &:not(:first-child) {
        padding-top: 1.5rem;
        margin-top: 0.5rem;
      }

      &:last-child {
        padding-bottom: 1rem;
      }
      &:first-child {
        padding-top: 0.7rem;
      }

      a {
        cursor: pointer;
        display: inline-block;
        width: 100%;
        z-index: 2;
      }
    }

    &:focus::before {
      transition: all 0.35s ease-in-out;
      left: 105.5%;
      pointer-events: none;
      transform: rotate(-590deg);
      top: 3px;
      height: 1.2rem;
    }

    &:focus::after {
      transition: all 0.35s ease-in-out;
      left: calc(105.5% + 0.85rem);
      pointer-events: none;
      transform: rotate(590deg);
      top: 3px;
      height: 1.2rem;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 1.4px;
      height: 1rem;
      background-color: black;
      position: absolute;
      right: 0;
      left: 10rem;
      top: 7px;
      transform: rotate(50deg);

      @media screen and (width< 78em) {
        top: 6.5px;
      }
    }

    &::after {
      content: "";
      display: inline-block;
      width: 1.4px;
      height: 1rem;
      background-color: black;
      position: absolute;
      right: 0;
      left: 10rem;
      top: 2.6px;
      transform: rotate(-50deg);

      @media screen and (width< 79em) {
        top: 3px;
      }
    }

    &::before,
    &::after {
      background-color: $brown-light-1;
      transition: all 0.2s;
      @media screen and (width< 79em) {
        height: 1rem;
      }
    }
  }

  @media screen and (width>71.875em) {
    display: none;
  }
}
