@import "../../../app/styles/globals";

.currated {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;

  &__list {
    display: flex;
    list-style: none;
    gap: 3rem;
    padding: 2rem 0;
  }
  &__item {
    @include product-item;
  }
  &__img {
    @include product-image;
  }
}
