@import "../../app/styles/globals";

.res {
  &__header {
    margin: 0 auto;
    font-size: 2.2rem;

    @media screen and (width>71.875em) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    padding: 0 2rem;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    z-index: 1;
  }

  &__services {
    @include nav-services;
    @include nav-services--dropdown;
    gap: 0.3rem;
    a {
      font-size: 2rem;
    }
  }
}
