@import "../../../app/styles/globals";

.swiper {
  width: 100% !important;
  margin-top: 4rem !important;
  height: fit-content !important;
  position: relative;
  overflow-x: hidden;
  z-index: 0 !important;

  &-wrapper {
    display: flex;
    width: 100%;
  }

  &-slide {
    width: 100%;
    flex-shrink: 0;
    aspect-ratio: 10/4;
    border-radius: 7px;
    position: relative;

    &-active {
      &::after {
        content: "";
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        border-radius: 7px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @media screen and (width < 50em) {
          border-radius: 0;
        }
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    position: relative;

    @media screen and (width < 50em) {
      border-radius: 0;
    }
  }

  &__title {
    display: inline-block;
    position: absolute;
    width: 85%;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @media screen and (width<93.75em) {
      font-size: 4.5rem !important;
      top: 46%;
    }
  }

  .heading-huge {
    @media screen and (width<66.0625em) {
      font-size: 6rem !important;
    }

    @media screen and (width<40.6255em) {
      top: 43%;
      font-size: 5.3rem !important;
    }
    @media screen and (width<30.6255em) {
      font-size: 4rem !important;
    }
  }

  a.swiper__btn {
    font-size: 1.9rem;
    width: fit-content;
    padding: 1.1rem 2.1rem;
    padding-top: 1.2rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: $gray-dark-3;
    bottom: 30%;
    z-index: 2;

    @media screen and (width<93.75em) {
      bottom: 17%;

      padding: 1.2rem 1.8rem;
    }

    @media screen and (width<31.875em) {
      font-size: 1.5rem;
      bottom: 17%;
      padding: 1rem 1.6rem;
    }

    span {
      margin-left: 1.4rem !important;
      font-size: 1.6rem !important;
      z-index: 2;

      svg {
        width: 2rem !important;
        height: 2rem !important;
        stroke-width: 0.5px;

        @media screen and (width<31.875em) {
          width: 1.5rem !important;
          height: 1.5rem !important;
        }
      }

      @media screen and (width<93.75em) {
        font-size: 1.3rem;
      }
    }
  }

  &-pagination {
    bottom: 18% !important;

    &-bullet {
      background: $gray-dark-1 !important;
      opacity: 1 !important;
      width: 10px !important;
      height: 10px !important;
      z-index: 2;

      &-active {
        background: white !important;
      }

      @media screen and (width<93.75em) {
        width: 6px !important;
        height: 6px !important;
      }

      @media screen and (width< 28.9375em) {
        width: 4px !important;
        height: 4px !important;
        margin: 0 0.4rem !important;
      }
    }

    @media screen and (width<93.75em) {
      bottom: 5% !important;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 6rem !important;
    height: 5rem !important;
    background-color: $gray-light-1 !important;
    position: absolute !important;
    top: 5rem !important;
    z-index: 2 !important;
    color: $black !important;
    display: block !important;
    right: 3.6rem !important;

    &::after {
      content: "" !important;
    }

    @media screen and (width < 35em) {
      width: 5rem !important;
      height: 4rem !important;
    }
  }

  .swiper-button-next {
    right: 3.6rem !important;
    border-radius: 0 7px 7px 0 !important;
    border-left: 2px solid $gray-light-3;

    &::after,
    &::before {
      content: "";
      background-color: var(--custom-black-c);
      transition: transform 0.2s ease-in-out;
    }

    &::before {
      display: inline-block;
      width: 1.4px;
      height: 1.3rem;

      position: absolute;
      top: 31%;
      left: 50%;
      transform: rotate(-45deg);

      @media screen and (width < 35em) {
        top: 28%;
      }
    }

    &::after {
      display: inline-block;
      width: 1.4px;
      height: 1.3rem;

      position: absolute;
      top: 49%;
      left: 50%;
      transform: rotate(45deg);

      @media screen and (width < 60.625em) {
        top: 46%;
      }
    }
  }

  .swiper-button-prev {
    border-radius: 7px 0 0 7px !important;
    left: calc(100% - 15.6rem) !important;

    @media screen and (width < 35em) {
      left: calc(100% - 13.6rem) !important;
    }

    &::after,
    &::before {
      content: "";
      background-color: var(--custom-black-c);
      transition: transform 0.2s ease-in-out;
    }

    &::before {
      display: inline-block;
      width: 1.4px;
      height: 1.3rem;

      position: absolute;
      top: 31%;
      left: 50%;
      transform: rotate(-135deg);

      @media screen and (width < 35em) {
        top: 28%;
      }
    }

    &::after {
      display: inline-block;
      width: 1.4px;
      height: 1.3rem;

      position: absolute;
      top: 49%;
      left: 50%;
      transform: rotate(135deg);

      @media screen and (width < 60.625em) {
        top: 46%;
      }
    }
  }

  &-button-disabled {
    opacity: 1 !important;
    &::before {
      background-color: $gray-dark-1 !important;
    }
    &::after {
      background-color: $gray-dark-1 !important;
    }
  }
}

.arrow-right-animation {
  &::before {
    animation-name: rotateArrowRight--before;
    animation-timing-function: ease-in-out;
    animation-duration: 0.4s;
  }
  &::after {
    animation-name: rotateArrowRight--after;
    animation-timing-function: ease-in-out;
    animation-duration: 0.4s;
  }
}
.arrow-left-animation {
  &::before {
    animation-name: rotateArrowLeft--before;
    animation-timing-function: ease-in-out;
    animation-duration: 0.4s;
  }
  &::after {
    animation-name: rotateArrowLeft--after;
    animation-timing-function: ease-in-out;
    animation-duration: 0.4s;
  }
}
