@import "../app/styles/globals";

.search {
  display: flex;
  justify-content: center;

  &__input {
    width: 90%;
    background-color: $gray-light-1;
    border: solid 1px $gray-light-2;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: all 0.25s ease-in-out;
    margin-right: -3rem;
    font-size: inherit;

    @media screen and (width<=71.875em) {
      background-color: transparent;
      border: none;
    }

    &:focus {
      width: 100%;
      outline: none;
    }

    &:focus + .search__button {
      transform: translateX(-2rem);
      border-radius: 0;
      transition-delay: 0;
    }

    &:focus ~ .search__exit {
      scale: 1;
      transform: translate(-2rem);
      transition-delay: 0.3s;
    }

    &::placeholder {
      font-weight: 100;
      font-size: inherit;
      color: $gray-dark-1;
    }
  }
  &__button,
  &__exit {
    border: none;
    cursor: pointer;
    background-color: $gray-light-1;
    border: solid 1px $gray-light-2;
    border-radius: 0 1rem 1rem 0;
    padding: 0 0.5rem;
    transition: 0.2s linear;

    &:focus {
      outline: none;
      transform: scale(0.98);
    }
  }

  &__button {
    transition-delay: 0.2s;
    svg {
      fill: $gray-dark-1;
      width: 2rem;
      height: 2rem;

      @media screen and (width<=71.875em) {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  &__exit {
    scale: 0;
    pointer-events: none;
    transform: translate(-9rem);
    border: solid 1px $gray-light-2;
    border-left: 0;
    cursor: pointer;

    svg {
      fill: $gray-dark-1;
      width: 2rem;
      height: 2rem;

      @media screen and (width<=71.875em) {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  @media screen and (width<=71.875em) {
    width: 100dvw;
    background-color: $gray-light-1;
    border: solid 0.5px $gray-light-2;
  }
}
