@keyframes rotateArrowRight--before {
  to {
    transform: rotate(320deg);
  }
}

@keyframes rotateArrowRight--after {
  to {
    transform: rotate(-320deg);
  }
}

@keyframes rotateArrowLeft--before {
  to {
    transform: rotate(225deg);
  }
}

@keyframes rotateArrowLeft--after {
  to {
    transform: rotate(-225deg);
  }
}
