.heading-primary {
  color: $black;
  font-size: 3rem;
}

.heading-huge {
  color: $white;
  font-size: 7.2rem !important;
  font-weight: 700 !important;
  text-align: center;
  font-weight: bolder;
  line-height: 1.2 !important;
}

.heading-medium {
  &--black {
    font-size: 4.5rem;
    font-weight: bolder;
    color: $black;
  }
}

.heading-medium-2 {
  color: $black;
  font-size: 3.6rem !important;
  line-height: 1;
  font-weight: 600;
}

.text-small {
  font-size: 1.4rem;
  font-weight: 500;
  &--blue {
    color: $blueish-gray-1;
  }
}

.product-text {
  color: $gray-dark-3;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;

  &:hover {
    color: $gray-dark-1;
  }
}

.product-price {
  color: $black-light;
  font-size: 2.2rem;
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.sale-price {
  color: $red-2;
  font-size: 2.2rem;
  font-weight: bold;

  &:hover {
    color: $red-1;
  }
}

.save-text {
  color: $red-2;
  cursor: pointer;
  &:hover {
    color: $red-1;
  }
}
